<th:block th:fragment="footer">
  <footer id="footer" class="footer position-relative dark-background mt-3">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <img style="width: 20px;" src="/assets/img/logo.webp" alt="">
            <span class="sitename">문답</span>
          </a>
          <div class="footer-contact pt-3">
            <p class="mb-3">moondap | 세상의 모든 테스트, 문답!</p>
            <p><strong>Web:</strong> <span>https://moondap.com</span></p>
            <p><strong>Email:</strong> <span>webmaster@moondap.com</span></p>
            <p><strong>Instagram:</strong> <span>moondap_com</span></p>
            <p><strong>X:</strong> <span>moondap_com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-twitter-x"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>인기 테스트</h4>
          <ul>
            <li><a href="#">OO 테스트</a></li>
            <li><a href="#">OO 테스트</a></li>
            <li><a href="#">OO 테스트</a></li>
            <li><a href="#">OO 테스트</a></li>
            <li><a href="#">OO 테스트</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>밸런스 게임</h4>
          <ul>
            <li><a href="#">OO 퀴즈</a></li>
            <li><a href="#">OO 퀴즈</a></li>
            <li><a href="#">OO 퀴즈</a></li>
            <li><a href="#">OO 퀴즈</a></li>
            <li><a href="#">OO 퀴즈</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>성격 검사</h4>
          <ul>
            <li><a href="#">OO 검사</a></li>
            <li><a href="#">OO 검사</a></li>
            <li><a href="#">OO 검사</a></li>
            <li><a href="#">OO 검사</a></li>
            <li><a href="#">OO 검사</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>소통</h4>
          <ul>
            <li><a href="#">문의 사항</a></li>
            <li><a href="#">공지 사항</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">moondap</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>
  
    <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
  
</th:block>