<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main_layout}"
      >
<head>
</head>

<body layout:fragment="content">
	<h1>test~!</h1>
	<form action="/joinProc" method="post" name="joinForm">
	    <input type="text" name="username" placeholder="Username"/>
	    <input type="password" name="password" placeholder="Password"/>
	    
		<input type="submit" value="Join"/>
	</form>
</body>
</html>