<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main_layout}"
      >
<!-- layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- 어드민 폼 공통 스타일 -->
    <link th:href="@{/assets/css/admin-form.css}" rel="stylesheet">
	
	<!-- dragAndDrop.js에는 이미지 유효성 검사, 파일 압축, 이미지명 uuid 변경, drag and drop 기능이 포함 -->
	<script th:src="@{/assets/js/dragAndDrop.js}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			// 화면이 처음 로드될 때 최상단으로 이동하도록 설정
			if ('scrollRestoration' in history) {
			    history.scrollRestoration = 'manual';
			}
			window.scrollTo(0, 0);
			
			// 텍스트 박스 길이 초과하면 다음 줄로 처리
			$(document).on('input', '#option1Text', function() {
			    this.style.height = 'auto';
			    this.style.height = (this.scrollHeight) + 'px';
			});
			
			$(document).on('input', '#option2Text', function() {
			    this.style.height = 'auto';
			    this.style.height = (this.scrollHeight) + 'px';
			});
		});
		
		// 밸런스 게임 저장
		function gameInsertForm() {
			
		   	let title = $('#title').val().trim();
		   	let spicyFilter = $('#spicyFilter').is(':checked');
		   	let category = $('#category').val().trim();
		   	let status = $('#status').val().trim();
		   	let option1Text = $('#option1Text').val().trim();
		   	let option2Text = $('#option2Text').val().trim();

		    const file1 = $('#file-input-1')[0].files[0];
		    const file2 = $('#file-input-2')[0].files[0];
		    
		   	if (title === "") {
		        alert("제목을 입력해주세요!");
		        $('#title').focus();
		        return;
		    }
		   	
		   	if (title.length > 30) {
		        alert("제목의 길이가 30자를 초과했어요!");
		        $('#title').focus();
		        return;
		   	}
		    
		    if (category === "") {
		        alert("카테고리를 선택해주세요!");
		        $('#category').focus();
		        return;
		    }

		    if (option1Text === "") {		    	
		        alert("왼쪽 선택지 내용을 입력해주세요!");
		        $('#option1Text').focus();
		        return;
		    }
		    	
		    if (option2Text === "") {
		        alert("오른쪽 선택지 내용을 입력해주세요!");
		        $('#option2Text').focus();
		        return;
		    }
		    
		   	if (option1Text.length > 20) {
		        alert("왼쪽 선택지의 길이가 20자를 초과했어요!");
		        $('#option1Text').focus();
		        return;
		   	}
		   	
		   	if (option2Text.length > 20) {
		        alert("오른쪽 선택지의 길이가 20자를 초과했어요!");
		        $('#option2Text').focus();
		        return;
		   	}
		    
		    if (!file1 || !file2) {
		        alert("사진을 양쪽 다 올려주셔야 해요!");
		        return;
		    }
		   	
			// 로딩 시작
			showLoading();
			
			const formData = new FormData();
			
		    formData.append('title', title);
		    formData.append('spicyFilter', spicyFilter);
		    formData.append('category', category);
		    formData.append('status', status);
		    formData.append('option1Text', option1Text);
		    formData.append('option2Text', option2Text);
			formData.append('option1Image', file1);
		    formData.append('option2Image', file2);
			
		    $.ajax({
		        url: '/balanceGame/insertBalanceGame',
		        type: 'POST',
		        data: formData,
		        processData: false,
		        contentType: false,
		        success: function(response) {
		            hideLoading();
		            if (response.flag === "success") {
			            alert("밸런스 게임 등록이 완료되었어요!");		            	
			            location.replace("/balanceGame/selectBalanceGameView?id=" + response.balanceGameId + '&spicyFilter=' + '1' + '&category=' + 'all');
		            } else {
		            	alert("밸런스 게임 저장 중에 데이터를 불러오면서 문제가 발생했어요.");
		            }
		        },
		        error: function(xhr) {
		            hideLoading();
		        	alert("밸런스 게임 저장 중에 문제가 발생했어요.");
		            console.error(xhr);
		        }
		    });
		}
	</script>
    <title>세상의 모든 테스트, 문답</title>
    <!-- 어드민 공통 스타일 -->
    <link th:href="@{/assets/css/admin-form.css}" rel="stylesheet">
</head>

<!-- layout:fragment="레이아웃 프레그먼트 이름" -->
<body layout:fragment="content">
    <div class="container">
		<!-- Balance Game Section -->
		<section id="team" class="team section py-1 mb-5">
			<div class="container px-0" data-aos="fade-up" data-aos-delay="100">
			
<!-- 				<form id="gameInsertForm" th:object="${gameForm}"> -->
	
					<div class="row">
						<div class="col-lg-8 offset-lg-2">
							<div class="team-carousel-wrapper" data-aos="fade-up"
								data-aos-delay="100">
								
								
								<div class="pt-3 text-center">
								    <div class="d-flex justify-content-between align-items-center flex-wrap mb-4 px-2 py-3">
								        <h5 class="text-white mb-0 fw-bold">
								            밸런스 게임 등록
								        </h5>
								    </div>
								</div>
								
								<div class="row leadership-slider pb-4">
								    <div class="col-12">
									    <p class="text-start ms-2 text-primary small mb-2">
									        <i class="bi bi-info-circle-fill"></i> 질문을 여기서 입력할 수 있어요
									    </p>
								    <input id="title" class="custom-input" 
								           value="" maxlength="30"
								           placeholder="밸런스 게임 질문을 입력해주세요.">
								    </div>
								</div>
								
								<div class="row leadership-slider pb-4">
								    <div class="col-12">
								    	<p class="text-start ms-2 text-primary small mb-2"><i class="bi bi-info-circle-fill"></i> 민감한 질문이라면 필터를 적용해주세요</p>
								        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
								            <!-- 매운맛 질문 필터 -->
								            <div>
									            <div class="form-check form-switch custom-switch d-flex align-items-center bord-radius-20 px-3 py-2 d">
									                <label class="form-check-label text-white small mb-0 me-5" for="spicyFilter" style="cursor: pointer;">
									                    <i class="bi bi-suit-heart-fill"></i> 매운맛 필터
									                </label> 
									                <input class="form-check-input mt-0" type="checkbox" role="switch" id="spicyFilter" style="cursor: pointer;">
									            </div>
								            </div>
								            
								        </div>
								    </div>
								</div>

								<div class="row leadership-slider pb-4">
								    <div class="col-12">
								    	<p class="text-start ms-2 text-primary small mb-2"><i class="bi bi-info-circle-fill"></i> 상태를 선택할 수 있어요</p>
								        <div class="">
								            <!-- 상태 선택 -->
											<div>
								                <select class="form-select text-white bord-radius-20 d px-3 py-2" 
								                        aria-label="Status select" id="status">
								                    <option value="draft" selected>🚧 준비 중</option>
								                    <option value="active">✅ 공개</option>
								                    <option value="inactive">🔒 비공개</option>
								                </select>
								            </div>
								        </div>
								    </div>
								</div>
								
								<div class="row leadership-slider pb-4">
								    <div class="col-12">
								    	<p class="text-start ms-2 text-primary small mb-2"><i class="bi bi-info-circle-fill"></i> 카테고리를 적용할 수 있어요</p>
								        <div class="">
								            <!-- 카테고리 선택 -->
											<div>
								                <select class="form-select text-white bord-radius-20 d px-3 py-2" 
								                        aria-label="Category select" id="category">
								                    <option value="" selected>📦 카테고리 선택</option>
								                    <option th:each="cat : ${categories}" 
								                            th:value="${cat.categoryName}" 
								                            th:text="${cat.displayName}">
								                    </option>
								                </select>
								            </div>
					            
					            		</div>
					            	</div>
					            </div>
								
								<div class="row leadership-slider pb-4">	
									<p class="text-start ms-2 text-primary small mb-2"><i class="bi bi-info-circle-fill"></i> 질문 이미지 및 선택지를 등록할 수 있어요</p>							
									
									<div class="col-6 pe-1">
									    <div class="leader-card selection-card">
									        <div class="leader-image drop-zone active-upload" id="drop-zone-1" onclick="document.getElementById('file-input-1').click()">
									            <img src="/assets/img/default-img/default-content-img.png" alt="선택지1" id="preview-1" class="preview-img">
									            <div class="upload-guide-layer d-flex flex-column align-items-center justify-content-center text-center">
									                <div class="icon-circle mb-2">
									                    <i class="bi bi-plus-circle-fill text-white fs-3"></i>
									                </div>
									                <p class="guide-text mb-0">첫 번째 이미지 업로드</p>
									                <p class="guide-sub-text">(드래그 또는 클릭)</p>
									            </div>
									
									            <div class="drag-overlay">
									                <div class="drag-message"></div>
									            </div>
									            
									            <input type="file" id="file-input-1" style="display: none;" accept="image/*" onchange="previewImage(this, 'preview-1')">
									        </div>
									
									        <div class="leader-info px-0">
									            <textarea class="custom-input text-center text-light mx-auto" 
										          style="width: 95%; word-break: break-all; overflow-wrap: break-word; resize: none; height: auto;" 
										          id="option1Text" rows="1" placeholder="선택지 입력" maxlength="20"></textarea>
										          
									        </div>
									    </div>
									</div>
	
									<div class="col-6 ps-1">
									    <div class="leader-card selection-card">
									        <div class="leader-image drop-zone active-upload" id="drop-zone-2" onclick="document.getElementById('file-input-2').click()">
									            <img src="/assets/img/default-img/default-content-img.png" alt="선택지2" id="preview-2" class="preview-img">
									            
									            <div class="upload-guide-layer d-flex flex-column align-items-center justify-content-center text-center">
									                <div class="icon-circle mb-2">
									                    <i class="bi bi-plus-circle-fill text-white fs-3"></i>
									                </div>
									                <p class="guide-text mb-0">두 번째 이미지 업로드</p>
									                <p class="guide-sub-text">(드래그 또는 클릭)</p>
									            </div>
									
									            <div class="drag-overlay">
									                <div class="drag-message">여기에 놓으세요!</div>
									            </div>
									            
									            <input type="file" id="file-input-2" style="display: none;" accept="image/*" onchange="previewImage(this, 'preview-2')">
									        </div>
									
									        <div class="leader-info px-0">
									            <textarea class="custom-input text-center text-light mx-auto" 
										          style="width: 95%; word-break: break-all; overflow-wrap: break-word; resize: none; height: auto;" 
										          id="option2Text" rows="1" placeholder="선택지 입력" maxlength="20"></textarea>
									        </div>
									    </div>
									</div>
									
									
	
								</div>
							</div>
						</div>
					</div>
<!-- 				</form> -->
					
				<!-- 반영 -->
		        <div class="row mt-4">
		        	<div class="col-lg-8 offset-lg-2">
			            <div class="admin-cta-box" data-aos="fade-up" data-aos-delay="300">
			            	<div class="cta-icon">
			                	<i class="bi bi-rocket-takeoff-fill"></i>
			              	</div>
			              	<div class="cta-content text-center">
			                	<h4>밸런스 게임을 등록할까요?</h4>
			                	<p>세상의 모든 테스트, 문답!</p>
			                	<div class="cta-actions">
									<a class="btn btn-outline px-5" onclick="history.back()">취소</a>
									<a class="btn btn-primary px-5" onclick="gameInsertForm()">등록</a>
								</div>
			              	</div>
			            </div>
		          	</div>
        		</div>
				
				
			</div>

		</section>
		<!-- /Balance Game Section -->
	</div>
	
</body>
</html>