<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moondap.mapper.MdUserMapper">

    <select id="selectUserName" resultType="com.moondap.dto.MdUserDTO">
        SELECT *
        FROM moondap.md_users
        WHERE username = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO moondap.md_users (username, password, nickname, email, bio, role, profile_image)
        VALUES (#{user.username}, #{user.password}, #{user.nickname}, #{user.email}, #{user.bio}, #{user.role}, #{user.profileImage})
    </insert>

    <select id="countByUsername" resultType="int">
        SELECT COUNT(*)
        FROM moondap.md_users
        WHERE username = #{username}
    </select>

    <select id="countByNickname" resultType="int">
        SELECT COUNT(*)
        FROM moondap.md_users
        WHERE nickname = #{nickname}
    </select>

</mapper>
