<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moondap.mapper.MdUserMapper">

    <select id="selectUserName" resultType="com.moondap.dto.MdUserDTO">
        SELECT *
        FROM moondap.md_users
        WHERE username = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO moondap.md_users (username, password, role)
        VALUES (#{user.username}, #{user.password}, #{user.role})
    </insert>

</mapper>
