<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/main_layout}"
      >
<!-- layout:decorate="~{/레이아웃 경로/레이아웃 파일명}" -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세상의 모든 테스트, 문답</title>
</head>

<!-- layout:fragment="레이아웃 프레그먼트 이름" -->
<body layout:fragment="content">
  <main class="main">

	    <!-- Error 404 Section -->
	    <section id="error-404" class="error-404 section">
	
	      <div class="container" data-aos="fade-up" data-aos-delay="100">
	
	        <div class="row justify-content-center">
	          <div class="col-lg-8 text-center">
	
	            <div class="error-number" data-aos="zoom-in" data-aos-delay="200">
	              404
	            </div>
	
	            <h1 class="error-title" data-aos="fade-up" data-aos-delay="300">
	              현재 접속하신 페이지가 존재하지 않습니다
	            </h1>
	
	            <p class="error-description" data-aos="fade-up" data-aos-delay="400">
	              서비스 이용에 불편을 드려 대단히 죄송합니다.<br>
				  현재 해당 사이트의 페이지가 존재하지 않아요.<br>
				  확인 후 다시 접속해 주세요.
	            </p>
	
	            <div class="error-actions" data-aos="fade-up" data-aos-delay="500">
	              <a href="/" class="btn-secondary">
	                <i class="bi bi-house"></i>
	                메인으로 바로가기
	              </a>
	              
	              <!-- 
	              <a href="/" class="btn-primary">
	                <i class="bi bi-house"></i>
	                메인 페이지
	              </a>
	            </div>
	               -->
	
	            </div>
	          </div>
	        </div>
		  </div>
	    </section><!-- /Error 404 Section -->
	
	</main>
</body>
</html>